body{
     text-align: center;      /* Centra todo el texto */
     font-family: Arial, sans-serif;
}

  img {
      display: block;
      margin: 20px auto;       /* Centra la imagen */
      max-width: 180px;        /* <-- Imagen más pequeña */
      height: auto;
    }

    h2{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }